<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
<div class="form-group">
  <input type="text" style="text-align: center;" class="form-control" value="show current booking" disabled="true"></div> </div> 
			<div class="col-md-6">
		<div style="height: 400px;width: 100%;" ng-init="initMap()" id="map"></div>

		<div class="modal fade" id="drivermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Cab is booked</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="well">
                  <!--  <img  width="100" height="100" src="../public/uploads/{{booked.driverpic}}" /> -->
                   <hr>
                 <!--   <div><strong>Name</strong> :{{driname.name}}</div> -->
                   <div id="pick"><strong>Pickup From </strong>:{{blah}}</div><hr>
                   <div id="drop"><strong>Destination at </strong>:{{b.drop}}</div><hr>
                   
                    <!-- <div><strong>Mobile Number </strong>:{{booked.mob}}</div> -->
                     <div id="fare"><strong>Fare </strong>:Rs {{booked.fare}}</div>
                 </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </form>
    </div>
</div>